{% extends "admin/base.html" %}

{% load static %}

<!-- { % load suit_tags static % } -->


{% block title %} Welcome to Blogging Application Admin Portal {% endblock %}


{% block extrastyle %}
  <style>
      /* #container
        {
            background-color:wheat;

        } */

        /* #header
        {
            background-color: green;
        } */
        
        .colMS
        {
            margin-left:260px;
        }  
/* 
        .module h2,.module caption,.inline-group h2
        {
            font-size:20px;
            background-color:blue !important;
            
        } */

        #content-related
        {
            display:none;
        }

        /* #footer
         {
            background-color: wheat;
        } */
        /* #content-related
        {
            background-color: wheat;
        } */
        
  </style>

{% endblock %}

{% block branding %}
   
 
    <b style="color:white;font-size: medium;">Blogging Application </b>
 
 
{% endblock %} 

{% block footer %}

{% endblock %} 
